* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/*COLORES Y TIPOGRAFIAS*/
:root {
  --color-principal: #64ffda;
  --color-titulos: #ccd6f6;
  --color-titulos-proyectos: #e6f1ff;
  --color-subtitulos: #8892b0;
  --color-background: #0a192f;
  --color-bg-descripcion: #172a45;
}

@font-face {
  font-family: "SF Mono";
  src: url(/fuentes/SFMonoRegular.woff);
}

@font-face {
  font-family: "Calibre";
  src: url(/fuentes/Calibre-Semibold.woff);
  font-weight: 600;
}

@font-face {
  font-family: "Calibre Medium";
  src: url(/fuentes/Calibre-Medium.woff);
  font-weight: 300;
}

/******MIXINS***********/
/****GLOBALES*****/
body {
  overflow-x: hidden;
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: block;
}

.titulos-principales,
.titulos-secundarios {
  color: var(--color-titulos);
  font-family: "Calibre";
  text-transform: capitalize;
}

.titulos-principales {
  font-size: clamp(40px, 6vw, 6rem);
}

.titulos-secundarios {
  font-size: clamp(24px, 3vw, 2rem);
}

.textos-secundarios {
  color: var(--color-subtitulos);
  font-family: "Calibre Medium";
  font-size: 18px;
  font-size: clamp(18px, 2vw, 1.3rem);
  line-height: 1.4;
  margin: 30px 0 40px;
}

.mini-texto,
.btn {
  color: var(--color-principal);
  font-family: "SF Mono";
}

.mini-texto {
  font-size: 13px;
  font-size: clamp(13px, 1.2vw, 1.1rem);
  margin-bottom: 15px;
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.indice {
  display: block;
  color: var(--color-principal);
  font-size: 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "SF Mono";
}

/*******BOTONES*******/
.btn {
  background: none;
  padding: 15px 20px;
  border: 1px solid var(--color-principal);
  border-radius: 2px;
  text-transform: capitalize;
  width: 45vw;
  max-width: 170px;
}

.btn:focus,
.btn-proyectos:focus {
  outline: 1px solid var(--color-principal);
}

.btn-proyectos {
  padding: 5px;
  border: none;
  font-size: 0.8rem;
  color: var(--color-titulos);
}

.btn-proyectos i {
  font-size: 1.4rem;
}

/********INICIO HEADER-PRINCIPAL*/
.header-fixed {
  position: fixed;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  min-height: 400px;
  height: 100vh;
  padding: 0 25px;
}

.header-fixed .mt-header,
.header-fixed .tp-header,
.header-fixed .sub-header,
.header-fixed .ts-header,
.header-fixed .btn-header {
  opacity: 0;
}

.header-fixed .subtitulo {
  color: var(--color-subtitulos);
  font-size: clamp(36px, 5vw, 3.5rem);
}

.header-fixed .textos-secundarios {
  max-width: 350px;
}

@media (min-width: 450px) {
  .header-fixed {
    padding: 0 50px;
  }
}

@media (min-width: 1024px) {
  .header-fixed {
    padding: 0 100px;
  }
}

/***INICIO NAVEGACION PRINCIPAL*/
.navegacion-principal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 25px 0px;
  background: var(--color-background);
}

.navegacion-principal .logo {
  width: 50px;
  height: 50px;
}

.navegacion-principal .hamburguesa {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 6px 0px 6px 8px;
}

.navegacion-principal .linea-hamburguesa {
  width: 35px;
  height: 2px;
  background: var(--color-principal);
  margin: 5px 0px;
}

.navegacion-principal .linea-hamburguesa:nth-child(2) {
  width: 30px;
}

.navegacion-principal .linea-hamburguesa:nth-child(3) {
  width: 25px;
}

.navegacion-desktop {
  width: 650px;
  padding: 0 20px;
  opacity: 0;
  display: none;
}

.navegacion-desktop .btn {
  width: 100px;
  padding: 12px 7px;
  font-size: 0.7rem;
}

.navegacion-desktop a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navegacion-desktop .titulos-secundarios {
  font-size: 0.8rem;
  font-family: "SF Mono";
}

.navegacion-desktop .indice {
  font-size: 0.8rem;
  margin-right: 5px;
}

@media (min-width: 1024px) {
  .navegacion-principal .hamburguesa {
    display: none;
  }
  .navegacion-principal .navegacion-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*********INICIO SECCION CONTENIDO PRINCIPAL*******/
.contenido-principal {
  max-width: 1200px;
  position: relative;
  top: 730px;
  background: var(--color-background);
  padding: 20px 25px 0px;
}

.contenido-principal .titulos-secciones {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenido-principal .titulos-secundarios {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7px;
  padding-left: 5px;
}

.contenido-principal .linea {
  width: 35%;
  height: 1px;
  background: #3c4357;
  margin-left: auto;
}

@media (min-width: 450px) {
  .contenido-principal {
    padding: 20px 50px 0px;
  }
}

@media (min-width: 768px) {
  .contenido-principal {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 35% 65%;
        grid-template-columns: 35% 65%;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    grid-gap: 20px;
  }
  .sobre-mi {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .proceso {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .proyectos {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  .contacto {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media (min-width: 1024px) {
  .contenido-principal {
    padding: 20px 100px 0px;
  }
}

@media (min-width: 1440px) {
  .contenido-principal {
    top: 90vh;
  }
}

.sobre-mi .titulos-secciones {
  margin-bottom: 50px;
}

.sobre-mi .textos-secundarios {
  margin-bottom: 0px;
  text-align: justify;
}

.sobre-mi .lista-proceso-tecnologias {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 500px;
  margin: 15px 0px 30px;
}

.sobre-mi .items-proceso-tecnologias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1rem;
  width: 100%;
}

.sobre-mi .items-proceso-tecnologias .textos-secundarios {
  width: 100%;
  margin: 0;
  line-height: 1.5;
  margin: 15px 0 10px;
  font-family: "SF Mono";
  font-size: 0.8rem;
}

.sobre-mi .fa-caret-right {
  color: var(--color-principal);
  width: 5%;
  margin-top: 20px;
}

@media (min-width: 450px) {
  .sobre-mi .items-proceso-tecnologias {
    width: 50%;
  }
}

/*INICIO SECCION PROCESO*/
.proceso .lista-proceso-tecnologias {
  width: 100%;
  list-style-type: none;
}

.proceso .items-proceso-tecnologias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 450px;
}

.proceso .textos-secundarios {
  width: 95%;
  margin: 20px 0px;
}

.proceso .fa-caret-right {
  color: var(--color-principal);
  width: 5%;
  margin-top: 22px;
}

.proceso .mini-texto {
  font-size: 1.2rem;
  font-family: "Calibre Medium";
}

/*INICIO SECCION PROYECTOS*/
.proyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.carta-proyecto {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 450px;
  margin: 55px 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.carta-proyecto .titulos-secundarios {
  margin: 30px 20px 0;
  height: 60px;
  position: absolute;
  top: 10px;
  color: var(--color-titulos-proyectos);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 1;
  font-size: clamp(24px, 2.5vw, 1.6rem);
}

.carta-proyecto .mini-texto {
  font-size: 0.7rem;
}

.carta-proyecto .textos-secundarios {
  margin: 20px 0px 0px;
  position: absolute;
  z-index: 2;
  top: 90px;
  padding: 20px;
  line-height: 1.5;
}

.carta-proyecto .tecnologias {
  margin: 20px 0px 0px;
  display: block;
  letter-spacing: 1px;
}

.carta-proyecto .contenedor-imagen {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.carta-proyecto .imagen-01 {
  background: url("/imagenes/cypher-movil.webp") center/cover no-repeat;
}

.carta-proyecto .imagen-02 {
  background: url("/imagenes/rogue-movile.webp") center/cover no-repeat;
}

.carta-proyecto .imagen-03 {
  background: url("/imagenes/skylink-movile.webp") center/cover no-repeat;
}

@media (min-width: 768px) {
  .carta-proyecto .imagen-01 {
    background: url("/imagenes/cypher-desktop.webp") center/cover no-repeat;
  }
  .carta-proyecto .imagen-02 {
    background: url("/imagenes/rogue-desktop.webp") center/cover no-repeat;
  }
  .carta-proyecto .imagen-03 {
    background: url("/imagenes/skylink-desktop.webp") center/cover no-repeat;
  }
}

.carta-proyecto .contenedor-botones {
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding-left: 20px;
}

.carta-proyecto a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.carta-proyecto .proyecto-02-a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.carta-proyecto .btn-proyectos:hover {
  color: var(--color-principal);
}

.carta-proyecto .texto-btn-proyectos {
  font-size: 0.7rem;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0.5s ease-in-out;
  transition: visibility 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out 0.5s;
  transition: opacity 0.5s ease-in-out 0.5s;
}

.contenedor-imagen:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #002e2cde;
  z-index: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.carta-proyecto:hover .contenedor-imagen::after {
  background: #002e2ccb;
}

.carta-proyecto:hover .contenedor-botones {
  width: 100%;
  background: var(--color-background);
}

.carta-proyecto:hover .texto-btn-proyectos {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 1224px) {
  .carta-proyecto:hover .contenedor-imagen:after {
    background: rgba(0, 0, 0, 0);
  }
  .carta-proyecto:hover .contenedor-botones {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .carta-proyecto {
    max-width: 500px;
    height: 350px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .carta-proyecto .textos-secundarios {
    max-width: 400px;
    font-size: 1.1rem;
    background-color: #172a45;
    margin-left: 20px;
  }
}

@media (min-width: 1244px) {
  .carta-proyecto {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .carta-proyecto .titulos-secundarios {
    padding-left: 0;
  }
  .carta-proyecto .proyecto-02-a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .carta-proyecto .primer-sub {
    left: -110px;
  }
  .carta-proyecto .segundo-sub {
    right: -110px;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .carta-proyecto .textos-secundarios {
    margin-left: 0;
  }
  .carta-proyecto:nth-child(3) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

/*****INICIO MENU DESPLEGABLE*/
.menu-desplegable {
  position: fixed;
  width: 100%;
  max-width: 500px;
  right: -100%;
  height: 100%;
  background: var(--color-bg-descripcion);
  z-index: 9999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-desplegable .btn-cerrar {
  width: 50px;
  height: 50px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .linea-cerrar {
  position: absolute;
  width: 40px;
  height: 2px;
  background: var(--color-principal);
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu-desplegable .linea-cerrar:nth-child(2) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.menu-desplegable .contenido-desplegable {
  width: 100%;
  height: calc(100% - 50px);
  padding: 70px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-desplegable .titulos-secundarios {
  width: 150px;
  margin: 25px 0;
}

.menu-desplegable .indice {
  padding-bottom: 7px;
  margin-right: 5px;
}

.menu-desplegable .btn {
  margin-top: 35px;
  width: 170px;
}

@media (min-width: 1024px) {
  .menu-desplegable {
    display: none;
  }
}

.contacto {
  padding: 50px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.contacto .titulos-secciones {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .titulos-principales {
  text-align: center;
  font-size: clamp(36px, 5vw, 3.5rem);
}

.contacto .textos-secundarios {
  text-align: justify;
  max-width: 500px;
}

.contacto .linea {
  width: 25%;
  margin: 0 auto;
}

.redes-desktop {
  position: fixed;
  left: 20px;
  bottom: 0;
  display: none;
  height: 330px;
  width: 50px;
  font-size: 1.2rem;
  color: var(--color-subtitulos);
}

.redes-desktop i {
  padding: 10px;
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.redes-desktop i:hover {
  color: var(--color-principal);
  top: -5px;
}

.redes-desktop .linea {
  width: 1px;
  height: 35%;
  background: var(--color-subtitulos);
}

.correo-desktop {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 0;
  display: none;
  height: 330px;
  width: 50px;
}

.correo-desktop .textos-secundarios {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 60px;
  font-family: "SF Mono";
  font-size: 0.85rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.correo-desktop .textos-secundarios:hover {
  color: var(--color-principal);
  top: 55px;
}

.correo-desktop .linea {
  width: 1px;
  height: 35%;
  background: var(--color-subtitulos);
}

@media (min-width: 1024px) {
  .redes-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .correo-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=styles.css.map */